# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
nai3botfvenv/
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python test / cache
.pytest_cache/

# Logs
*.log

# Environment variables / secrets
.env
config.json
users.json

# Node
node_modules/

#training data
training_data/